<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>감사합니다. 여러분의 설문은 다음과 같습니다.</h1>
    <ul>
    <li>그룹의 이름: {{session['group_name']}}</li>
    <li>그룹의 데뷔년도: {{session['debut_year']}}</li>
    <li>앨범을 샀는지: {{session['buy_album']}}</li>
    <li>좋아하는 팬서비스: {{session['service']}}</li>
    <li>하시고 싶은 말씀: {{session['feedback']}}</li>
    </ul>


    
</body>
</html>